@import 'frappe/public/css/font-awesome.min.css';

.chat-app {
	position: fixed;
	bottom: 24px;
	right: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	z-index: 100;
	::-webkit-scrollbar {
		width: 2px;
	}

	::-webkit-scrollbar-track {
		background: var(--white);
	}

	::-webkit-scrollbar-thumb {
		background: var(--scrollbar-thumb-color);
		border-radius: 10px;
		max-height: 30px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--gray-500);
	}
}
.chat-container {
	width: 380px;
	height: 582px;
	box-shadow: 0px 2px 6px rgba(17, 43, 66, 0.08),
		0px 1px 4px rgba(17, 43, 66, 0.1);
	background: var(--white);
	border-radius: 6px;
	margin-bottom: 1rem;
	padding: 1rem;
}
.chat-bubble {
	cursor: pointer;
	background: var(--primary-color);
	color: var(--white);
	border-radius: 100px;
	font-weight: bold;
	display: flex;
	align-items: center;
	width: initial;
	&:hover {
		box-shadow: var(--shadow-lg);
	}
}
.chat-bubble-closed {
	width: 60px;
	height: 60px;
	position: relative;
	text-align: center;
	.cross-icon {
		width: 100%;
	}
}
.chat-list {
	.chat-list-header {
		display: flex;
		justify-content: space-between;
	}
}
.chat-search {
	border-radius: 6px;
	background: var(--gray-100);
	font-size: var(--font-size-sm);
}

.chat-message-container {
	height: 480px;
	overflow-y: scroll;

	.chat-message {
		display: flex;
		font-size: var(--font-size-sm);
		cursor: pointer;
		position: relative;
		padding: 10px;
		border-radius: 8px;
		color: var(--gray-900);
		&:hover {
			background: var(--gray-100);
		}
		.chat-date {
			color: var(--gray-600);
		}
		.chat-latest {
			display: inline;
			position: absolute;
			bottom: 30px;
			left: 2px;
			width: 4px;
			height: 4px;
			background: var(--blue-500);
			border-radius: 50%;
		}
	}
}

@media (max-width: 576px) {
	.chat-list {
		width: 100%;
	}
}
